body {
  background: #bbd0f7;
  font-size: 20px;
  width: 100%;
  height: 100%; }

header {
  height: 50px;
  background-color: #6494ed;
  border-bottom: 2px solid #154eb7;
  margin-bottom: 50px;
  width: 100%; }
  header form {
    float: right;
    margin-top: 8px; }
    header form input {
      height: 15px;
      background-color: #bbd0f7;
      border: none;
      border-radius: 3px;
      color: black;
      letter-spacing: 0.2rem;
      padding: 10px;
      margin: 0 20px 0 20px;
      outline: none; }
      header form input:focus {
        background-color: #e8effc; }

main {
  color: black;
  height: 30%;
  margin: auto;
  width: 40%; }

footer {
  border-top: 1px solid black;
  bottom: 0;
  height: 40px;
  position: fixed;
  width: 100%; }

.location {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center; }

.row1 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 30px 0 30px 0; }
  .row1 .weatherPic img {
    margin: -60px;
    width: 200px; }
  .row1 .temperature {
    font-size: 5rem;
    margin: 0 30px 0 20px; }

.tempSystem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  float: left;
  margin: 10px 0 0 30px;
  width: 120px; }
  .tempSystem .selected {
    background-color: #a4c0f4; }
  .tempSystem .temp {
    border: 1px solid darkslategrey;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.2rem;
    height: 26px;
    text-align: center;
    width: 45px; }
    .tempSystem .temp:hover {
      border: 1px solid black;
      border-radius: 3px;
      background-color: #a4c0f4;
      -webkit-box-shadow: 1px 1px black;
      box-shadow: 1px 1px black; }

.description {
  text-align: center;
  font-size: 2rem;
  margin: 30px 0 10px 0; }

.updated {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 30px; }

.bottomRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.forecastContainer {
  bottom: 150px;
  position: fixed;
  width: 100%; }
  .forecastContainer .forecastGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin: 0 auto 0 auto;
    width: 80%; }
    .forecastContainer .forecastGroup .forecastDay {
      border: 1px solid white;
      border-radius: 3px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      width: 15%; }
      .forecastContainer .forecastGroup .forecastDay .forecastItem {
        margin-bottom: 7px; }

.iconForecast img {
  height: 100px;
  margin: -20px 0 -30px 0; }

.tempRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 80%;
  font-size: 30px; }

.descriptionForecast {
  font-size: 17px;
  text-align: center;
  font-style: italic; }

.miscWeather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90%; }
  .miscWeather img {
    width: 40px; }
  .miscWeather .wind, .miscWeather .rain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.forecastDetail {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .forecastDetail .forecastDetailQuad {
    height: 48%;
    border: 1px solid black;
    text-align: center;
    width: 48%; }
