$primaryColor: hsl(219, 79%, 85%);
$secondaryColor: hsl(219, 79%, 40%);
$headerAndFooter: hsl(219, 79%, 66%);


body {
  background: $primaryColor;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

header {
  background-color: $headerAndFooter;
  border-bottom: 1px solid $secondaryColor;
  height: 50px;
  margin-bottom: 50px;
  width: 100%;
  form {
	float: right;
	margin-top: 8px;
	input {
	  color: black;
	  background-color: $primaryColor;
	  border: 1px solid $secondaryColor;
	  border-radius: 3px;
	  height: 15px;
	  letter-spacing: 0.2rem;
	  margin: 0 20px 0 20px;
	  padding: 10px;
	  outline: none;
	  &:focus {
		background-color: hsl(219, 79%, 95%);
	  }
	}
  }
}

main {
  color: black;
  height: 30%;
  margin: auto;
  width: 40%;
}

footer {
  background-color: $headerAndFooter;
  border-top: 1px solid $secondaryColor;
  bottom: 0;
  height: 50px;
  font-size: 1rem;
  line-height: 50px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.location {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.row1 {
  align-items: center;
  display: flex;
  font-family: Arial;
  justify-content: center;
  margin: 30px 0 30px 0;
  .weatherPic img {
	margin: -60px;
	width: 200px;
  }
  .temperature {
	font-size: 5rem;
	margin: 0 30px 0 20px;
  }
}

.description {
  font-size: 2rem;
  margin: 30px 0 10px 0;
  text-align: center;
}

.updated {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 50px;
  text-align: center;
}

.bottomRow {
  display: flex;
  justify-content: space-evenly;
}


//F - C switched

.tempSystem {
  display: flex;
  float: left;
  justify-content: space-around;
  margin: 10px 0 0 30px;
  width: 120px;
  .selected {
	background-color: $primaryColor;
  }
  .temp {
	align-items: center;
	border: 1px solid $secondaryColor;
	border-radius: 3px;
	display: flex;
	font-size: 1.2rem;
	height: 26px;
	justify-content: center;
	text-align: center;
	width: 45px;
	&:hover {
	  background-color: $primaryColor;
	  border-radius: 3px;
	}
  }
}




//Forecast Styles
.forecastContainer {
  bottom: 150px;
  position: fixed;
  width: 100%;
  .forecastGroup {
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto 0 auto;
	width: 80%;
	.forecastDay {
	  align-items: center;
	  border: 1px solid white;
	  border-radius: 3px;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-evenly;
	  height: 250px;
	  padding: 10px;
	  width: 15%;
	  .forecastItem {
		margin-bottom: 7px;
	  }
	}
  }
}

.iconForecast {
  img {
	height: 100px;
	margin: -20px 0 -30px 0;
  }
}

.tempRow {
  display: flex;
  font-size: 30px;
  justify-content: space-evenly;
  width: 80%;
}

.descriptionForecast {
  font-size: 17px;
  font-style: italic;
  text-align: center;
}


.miscWeather {
  display: flex;
  justify-content: space-between;
  width: 90%;
  img {
	width: 40px;
  }
  .wind, .rain {
	align-items: center;
	justify-content: space-between;
	display: flex;
  }
}

//Forecast Details Styles

.forecastDetail {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 100%;
  img {
	margin: -5px;
  }
  .forecastDetailQuad {
	height: 48%;
	text-align: center;
	width: 48%;
	.forecastDetailTime {
	  font-size: 15px;
	}

  }
}

//Red Button styles
#forecastDay2 {
  position: relative;
}

.redButton {
  background-color: red;
  border: 1px solid black;
  border-radius: 50%;
  height: 20px;
  left: -10px;
  outline: none;
  position: absolute;
  top: -10px;
  width: 20px;
}






