body {
  background: hsl(219, 79%, 85%);
  font-size: 20px;
  width: 100%;
  height: 100%;
}

header {
  height: 50px;
  background-color: hsl(219, 79%, 66%);
  border-bottom: 2px solid hsl(219, 79%, 40%);
  margin-bottom: 50px;
  width: 100%;
  form {
	float: right;
	margin-top: 8px;
	input {
	  height: 15px;
	  background-color: hsl(219, 79%, 85%);
	  border: none;
	  border-radius: 3px;
	  color: black;
	  letter-spacing: 0.2rem;
	  padding: 10px;
	  margin: 0 20px 0 20px;
	  outline: none;
	  &:focus {
		background-color: hsl(219, 79%, 95%);
	  }
	}
  }
}

main {
  color: ghostwhite;
  height: 30%;
  margin: auto;
  width: 40%;
}

footer {
  border-top: 1px solid black;
  bottom: 0;
  height: 40px;
  position: fixed;
  width: 100%;

}

.location {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.row1 {
  align-items: center;
  font-family: Arial;
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
  .temperature {
	font-size: 5rem;
	margin: 0 30px 0 20px;
  }
}

.tempSystem {
  display: flex;
  justify-content: space-around;
  float: left;
  margin: 10px 0 0 30px;
  width: 90px;
  .temp {
	border: 1px solid transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	height: 26px;
	text-align: center;
	width: 40px;
	&:hover {
	  border: 1px solid white;
	  background-color: hsl(219, 79%, 80%);
	}
  }
}

.description {
  text-align: center;
  font-size: 2.5rem;
  margin: 30px 0 10px 0;
}

.updated {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 30px;
}

.bottomRow {
  display: flex;
  justify-content: space-evenly;
}

//Forecast Styles

.forecastContainer {
  bottom: 60px;
  position: fixed;
  width: 100%;
  .forecastGroup {
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto 0 auto;
	width: 80%;
	.forecastDay {
	  border: 1px solid white;
	  align-items: center;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-evenly;
	  padding: 15px;
	  width: 15%;
	  .forecastItem {
		margin-bottom: 7px;
	  }
	}
  }
}

.iconForecast {
  img {
	height: 100px;
	margin: -20px 0 -30px 0;
  }
}

.tempRow {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  font-size: 30px;
}

.descriptionForecast {
  font-size: 17px;
  text-align: center;
  font-style: italic;
}


.miscWeather {
  display: flex;
  justify-content: space-between;
  width: 90%;
  img {
	width: 40px;
  }
  .wind, .rain {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
}





