$primaryColor: hsl(219, 79%, 85%);
$secondaryColor: hsl(219, 79%, 40%);
$headerAndFooter: hsl(219, 79%, 66%);

html {
	  font-size: 0.8vmax;
}

body {
	  background: $primaryColor;
}

//Normal styles
header {
	  background-color: $headerAndFooter;
	  border-bottom: 1px solid $secondaryColor;
	  height: 50px;
	  margin-bottom: 50px;
	  width: 100%;
	  form {
			float: right;
			margin-top: 10px;
			margin-right: 100px;
			input {
				  color: black;
				  background-color: $primaryColor;
				  border: 1px solid $secondaryColor;
				  border-radius: 4px;
				  height: 10px;
				  letter-spacing: 0.2rem;
				  padding: 10px;
				  outline: none;
				  width: 200px;
				  &:focus {
						background-color: hsl(219, 79%, 95%);
				  }
			}
	  }
}

.tempSystem {
	  display: flex;
	  float: left;
	  justify-content: space-between;
	  margin: 10px 0 0 100px;
	  width: 120px;
	  .selected {
			background-color: $primaryColor;
			font-weight: bold;
	  }
	  .temp {
			align-items: center;
			border: 1px solid $secondaryColor;
			border-radius: 4px;
			display: flex;
			font-size: 1.2rem;
			height: 30px;
			justify-content: center;
			text-align: center;
			width: 45px;
			&:hover {
				  background-color: $primaryColor;
				  border-radius: 3px;
			}
	  }
}

main {
	  color: black;
	  height: 30%;
	  margin: auto;
	  width: 40%;
	  //change this font-size to change font-size for current forecast
	  font-size: 3rem;
	  .cityName {
			font-size: 100%;
			letter-spacing: 0.1rem;
			text-align: center;
	  }
	  .iconAndTemperature {
			align-items: center;
			display: flex;
			font-family: Arial;
			justify-content: center;
			margin: 30px 0 30px 0;
			.weatherPic img {
				  margin: -60px -20px -60px 0;
				  width: 200px;
			}
			.currentTemperature {
				  font-size: 150%;
				  margin: 0 30px 0 20px;
			}
	  }
	  .currentDescription {
			font-size: 80%;
			margin: 30px 0 10px 0;
			text-align: center;
	  }
	  .timeUpdated {
			font-size: 30%;
			font-style: italic;
			text-align: center;
			margin-top: 30px;
	  }
	  .currentWeatherDetails {
			display: flex;
			font-size: 45%;
			justify-content: space-evenly;
			margin-top: 30px;
			text-align: center;
	  }
}

.forecastContainer {
	  width: 100%;
	  margin: 100px 0 100px 0;
	  .forecastGroup {
			display: flex;
			justify-content: space-between;
			margin: 0 auto 0 auto;
			width: 70%;
			.forecastDay {
				  align-items: center;
				  border: 1px solid white;
				  border-radius: 4px;
				  display: flex;
				  flex-direction: column;
				  //change this font-size to change font-size inside forecast day div
				  font-size: 1rem;
				  height: 25vh;
				  justify-content: space-between;
				  align-content: space-around;
				  padding: 10px;
				  width: 20%;
				  .forecastItem {
						margin-bottom: 7px;
				  }
			}
	  }
}

//Styles for inside each of the 4 forecastDay divs
.forecastDay h2 {
	  text-decoration: underline;
}

.forecastDescriptionText {
	  font-size: 110%;
	  font-style: italic;
	  text-align: center;
}

.forecastIcon img {
	  height: 100px;
	  margin: -20px 0 -30px 0;
}

.forecastTemperature {
	  display: flex;
	  font-size: 150%;
	  justify-content: space-evenly;
	  width: 80%;
}

.forecastWindRain {
	  display: flex;
	  justify-content: space-between;
	  width: 90%;
	  img {
			width: 40px;
	  }
	  .wind, .rain {
			align-items: center;
			justify-content: space-between;
			display: flex;
	  }
}

//Forecast Details Styles
.forecastDetail {
	  align-items: center;
	  display: flex;
	  flex-wrap: wrap;
	  //change this font-size to change font-size for forecast details
	  font-size: 1rem;
	  height: 100%;
	  justify-content: space-evenly;
	  align-content: space-between;
	  h3 {
			text-decoration: underline;
	  }
	  img {
			margin: -5px;
	  }
	  .forecastDetailQuad {
			height: 40%;
			font-size: 1.5rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			width: 40%;
			.forecastDetailTime {
				  font-size: 80%;
			}
			.forecastDetailTemp {
				  font-size: 100%;
			}
	  }
}
//Red Button styles
#forecastDay1 {
	  position: relative;
}

#redButton {
	  background-color: red;
	  border: 1px solid black;
	  border-radius: 50%;
	  height: 20px;
	  left: -10px;
	  outline: none;
	  position: absolute;
	  top: -10px;
	  width: 20px;
}



//Footer
footer {
	  background-color: $headerAndFooter;
	  border-top: 1px solid $secondaryColor;
	  bottom: 0;
	  height: 50px;
	  font-size: 1rem;
	  line-height: 50px;
	  position: fixed;
	  text-align: center;
	  width: 100%;
}

/////////////////////////
//medium laptop styles
/////////////////////////
@media  (orientation: landscape) and (max-width: 1600px) {
	  main {
			font-size: 4rem;
			.iconAndTemperature {
				  margin: 15px 0 0 0;
				  .weatherPic img {
						margin: -30px;
						margin-bottom: -60px;
						width: 150px;
				  }
			}
			.timeUpdated {
				  margin-bottom: 20px;
			}
	  }
	  .forecastContainer {
			.forecastGroup .forecastDay {
				  font-size: 1.5rem;
			}
	  }
}

/////////////////////////////////
//phone - landscape - styles
///////////////////////////
@media (orientation: landscape) and (max-width: 900px) {
	  header {
			margin-bottom: 20px;
	  }
	  .tempSystem {
			.temp {
				  font-size: 2rem;
			}
	  }
	  main {
			height: 30%;
			width: 70%;
			//change this font-size to change font-size for current forecast
			font-size: 3rem;
			.cityName {
				  font-size: 100%;
				  letter-spacing: 0.1rem;
			}
			.iconAndTemperature {
				  margin: 30px 0 30px 0;
				  .weatherPic img {
						width: 130px;
				  }
				  .currentTemperature {
						font-size: 150%;
						margin: 0 30px 0 20px;
				  }
			}
			.currentDescription {
				  font-size: 80%;
				  margin: 20px 0 10px 0;
			}
			.timeUpdated {
				  font-size: 30%;
				  margin-top: 10px;
			}
			.currentWeatherDetails {
				  font-size: 65%;
			}
	  }
	  .forecastContainer {
			margin-top: 40px;
			.forecastGroup {
				  width: 80%;
				  .forecastDay {
						height: 40vh;
						width: 18%;
						.forecastItem {
							  margin-bottom: 7px;
						}
				  }
			}
	  }
	  .forecastIcon img {
			height: 60px;
			margin: -15px 0 -22px 0;
	  }
	  .forecastWindRain img {
			width: 10px;
	  }
	  .forecastDetail {
			img {
				  margin: -10px;
			}
	  }
	  footer {
			height: 25px;
			line-height: 25px;
	  }
}

/////////////////////////
//tablet - portrait - styles
////////////////////////////
@media (orientation: portrait) {
	  header {
			margin-bottom: 40px;
			form {
				  margin-right: 50px;
				  input {
						font-size: 2rem;
				  }
			}
	  }
	  .forecastIcon img {
			height: 50px;
			margin: -10px 0 -15px 0;
	  }
	  .tempSystem {
			margin-left: 50px;
			width: 118px;
			.temp {
				  font-size: 2rem;
				  height: 30px;
				  width: 50px;
			}
	  }
	  main {
			width: 80%;
			font-size: 5rem;
			.iconAndTemperature .weatherPic img {
				  margin: -30px;
				  width: 100px;
			}
			.currentDescription {
				  margin: 10px;
			}
			.timeUpdated {
				  font-size: 1.5rem;
			}
	  }
	  .forecastContainer {
			margin-top: 5%;
			.forecastGroup {
				  flex-wrap: wrap;
				  justify-content: center;
				  height: 45vh;
				  width: 90%;
				  .forecastDay {
						width: 30%;
						height: 40%;
						font-size: 2rem;
						margin: 20px;
				  }
			}
	  }
}

///////////////////////
//phone -portrait - styles
//////////////////////////
@media (orientation: portrait) and (max-width: 500px) {
	  header {
			margin-bottom: 20px;
			form {
				  margin-right: 10px;
				  input {
						font-size: 3rem;
						width: 100px;
				  }
			}
	  }
	  .tempSystem {
			width: 114px;
			margin-left: 10px;
			.temp {
				  font-size: 3rem;
			}
	  }
	  main {
			width: 90%;
			font-size: 5rem;
			.iconAndTemperature {
				  margin: 15px 0;
				  .weatherPic img {
						margin: -30px;
						width: 100px;
				  }
			}
			.currentDescription {
				  margin: 0;
			}
			.timeUpdated {
				  font-size: 1.5rem;
				  margin-top: 10px;
			}
			.currentWeatherDetails {
				  margin-top: 15px;
			}
	  }
	  .forecastContainer .forecastGroup .forecastDay {
			font-size: 1.5rem;
			margin: 10px;
			padding: 5px;
			width: 35%;
			.forecastDescriptionText {
				  margin: 5px 0 -5px 0;
			}
			.wind img, .rain img {
				  width: 60%;
			}
	  }
	  .forecastDetail img {
			width: 75%;
	  }
	  footer {
			height: 25px;
			line-height: 25px;
	  }
}










