
body {
    background: blue url("sunrise.jpg");
    background-size: cover;
}


p {
    margin: auto;
}

.mainBox {
    height: 400px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 20px;
}

.titleOne {
    display: flex;
    height: 75px;
    width: 600px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size:20px
}

.titleTwo {
    text-align: center;
    height: 125px;
    width: 600px;
    font-size: 1.7em;
}

.titleOne, .titleTwo {
    color: #55c605;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 1px 1px 10px black;
    font-weight: 900;
}


.temperature {
    display: flex;
    height: 200px;
    width: 200px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-shadow: 1px 1px 10px black;
}

.tempPic {
    float: left;
    width: 100px;
    height: 100px;
}

.tempNumber {
    float: right;
    width: 100px;
    height: 100px;
}

.moreInfo {
    display: flex;
    height: 100px;
    width: 600px;
    color: #173705;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}

.location, .sky, .wind {
    background-color: silver;
    opacity: 0.8;
    border-radius: 20px;
    margin-right: 10px;
    box-shadow: 5px 5px 10px black;
}

.location {
    display: flex;
    height: 100px;
    width:  225px;
    float: left;
}

.sky {
    display: flex;
    height: 100px;
    width:  150px;
    float: left;
}

.wind {
    display: flex;
    height: 100px;
    width:  225px;
    float: right;
}
